<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<display-name>GWT-Maven-Archetype</display-name>	
	
	<welcome-file-list>
		<welcome-file>Application.html</welcome-file>
	</welcome-file-list>
	
	  <!-- Servlets -->
	<servlet>
	    <servlet-name>export</servlet-name>
	    <servlet-class>edu.unc.major.proteomics.server.servlet.ExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>export</servlet-name>
	    <url-pattern>/edu.unc.major.proteomics.Application/export.csv</url-pattern>
	</servlet-mapping>
	  
	<servlet> 
		<servlet-name>tppProteinIndProteinServiceImpl</servlet-name> 
		<servlet-class>edu.unc.major.proteomics.server.service.impl.TppProteinIndProteinServiceImpl</servlet-class> 
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping> 
		<servlet-name>tppProteinIndProteinServiceImpl</servlet-name> 
		<url-pattern>/edu.unc.major.proteomics.Application/tppProteinIndProteinService</url-pattern> 
	</servlet-mapping>
	
	<servlet> 
		<servlet-name>tppProteinServiceImpl</servlet-name> 
		<servlet-class>edu.unc.major.proteomics.server.service.impl.TppProteinServiceImpl</servlet-class> 
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping> 
		<servlet-name>tppProteinServiceImpl</servlet-name> 
		<url-pattern>/edu.unc.major.proteomics.Application/tppProteinService</url-pattern> 
	</servlet-mapping>
	
	<servlet> 
		<servlet-name>ncbiGeneServiceImpl</servlet-name> 
		<servlet-class>edu.unc.major.proteomics.server.service.impl.NcbiGeneServiceImpl</servlet-class> 
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping> 
		<servlet-name>ncbiGeneServiceImpl</servlet-name> 
		<url-pattern>/edu.unc.major.proteomics.Application/ncbiGeneService</url-pattern> 
	</servlet-mapping>
	
	<servlet> 
		<servlet-name>constantServiceImpl</servlet-name> 
		<servlet-class>edu.unc.major.proteomics.server.service.impl.ConstantServiceImpl</servlet-class> 
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping> 
		<servlet-name>constantServiceImpl</servlet-name> 
		<url-pattern>/edu.unc.major.proteomics.Application/constantService</url-pattern> 
	</servlet-mapping>
	
		<servlet> 
		<servlet-name>bandServiceImpl</servlet-name> 
		<servlet-class>edu.unc.major.proteomics.server.service.impl.BandServiceImpl</servlet-class> 
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping> 
		<servlet-name>bandServiceImpl</servlet-name> 
		<url-pattern>/edu.unc.major.proteomics.Application/bandService</url-pattern> 
	</servlet-mapping>
	
	<servlet> 
		<servlet-name>siRNAValServiceImpl</servlet-name> 
		<servlet-class>edu.unc.major.proteomics.server.service.impl.SiRNAValServiceImpl</servlet-class> 
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping> 
		<servlet-name>siRNAValServiceImpl</servlet-name> 
		<url-pattern>/edu.unc.major.proteomics.Application/siRNAValService</url-pattern> 
	</servlet-mapping>
	
	<servlet> 
		<servlet-name>exportServiceImpl</servlet-name> 
		<servlet-class>edu.unc.major.proteomics.server.service.impl.ExportServiceImpl</servlet-class> 
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping> 
		<servlet-name>exportServiceImpl</servlet-name> 
		<url-pattern>/edu.unc.major.proteomics.Application/exportService</url-pattern> 
	</servlet-mapping>
</web-app>
