<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<display-name>GWT-Maven-Archetype</display-name>	
	
	<welcome-file-list>
		<welcome-file>Application.html</welcome-file>
	</welcome-file-list>
	
	  <!-- Servlets -->
	<servlet> 
		<servlet-name>tppProteinIndProteinServiceImpl</servlet-name> 
		<servlet-class>edu.unc.major.proteomics.server.service.impl.TppProteinIndProteinServiceImpl</servlet-class> 
	</servlet>
	<servlet-mapping> 
		<servlet-name>tppProteinIndProteinServiceImpl</servlet-name> 
		<url-pattern>/service/tppProteinIndProteinService</url-pattern> 
	</servlet-mapping>
	
	<servlet> 
		<servlet-name>tppProteinServiceImpl</servlet-name> 
		<servlet-class>edu.unc.major.proteomics.server.service.impl.TppProteinServiceImpl</servlet-class> 
	</servlet>
	<servlet-mapping> 
		<servlet-name>tppProteinServiceImpl</servlet-name> 
		<url-pattern>/service/tppProteinService</url-pattern> 
	</servlet-mapping>
</web-app>
